* {
    font-size: 10px;
}

.box {
    border-width: 1px;
}

button {
    border: none;
}

.dangerous {
    color: #D55854;
}

.important {
    font-weight: bold;
}

.title {
    font-weight: bold;
    font-size: 16px;
}

.username {
    font-size: 11px;
    font-weight: bold;
}
