* {
    color: black;
}

.box {
    background-color: white;
    border-color: #ADADAF;
}

button{
    background-color: white;
}

.colored {
    background-color: #52AC40;
}

.dangerous {
    color: #D55854;
}

.secondary {
    color: #ADADAF;
}
