.box {
    border-width: 1px;
}

button {
    border: none;
}

.dangerous {
    color: #D55854;
}

.important {
    font-weight: bold;
}

.message {
    padding: 10px;
}

.secondary {
    font-size: 12px;
}

.title {
    font-weight: bold;
    font-size: 16px;
}

.very-important-button  {
    font-size: 22px;
}

.username {
    font-size: 14px;
    font-weight: bold;
}
