* {
    color: black;
}

.box {
    background-color: white;
    border-color: #ADADAF;
}

button{
    background-color: white;
}

.colored {
    background-color: #52AC40;
}

.contact {
    background-color: white;
}

.contact:hover {
    background-color: #F1F1F1;
}

.dangerous {
    color: #D55854;
}

.inversive-text {
    color: white;
}

.message {
    background-color: white;
    border-color: #ADADAF;
}

.secondary {
    color: #ADADAF;
}
